@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.main-container {
    padding: 10px 30px;
    height: 100vh;
    background-image: url(assets/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title h1 {

    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 0px;
    color: #ff0000;
}

.title p {
    font-size: 20px;
    margin-bottom: 0px; 
    font-weight: 600;
    color: #fff;
}

.our-work ul li {
    font-size: 20px;
    line-height: 40px;
}

.our-work ul li a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:600px) {
    .title h1{
        font-size: 3.5rem;
    }
    
}