@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.main-container {
    padding: 10px 30px;
    height: 100vh;
    background-image: url(assets/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title h1 {

    font-size: 4.5rem;
    font-weight: 700;
    margin-top: 0px;
    color: #ff0000;
}

.title p {
    font-size: 20px;
    margin-bottom: 0px; 
    font-weight: 600;
    color: #fff;
}

.our-work ul li {
    font-size: 20px;
    line-height: 40px;
}

.our-work ul li a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:600px) {
    .title h1{
        font-size: 3.5rem;
    }
    
}

/* button */
/* CSS */
.our-work{
    margin-top: 25px;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}